.social {
    height: 50px;
    background: white;
    padding: 10px;
}

.socialIcons,
.news {
    display: inline-block;
}

.socialIcons img {
    width: 35px;
    height: 35px;
}

.news {
    float: right;
    font: 400 12px/27px 'Georgia', sans-serif;
    vertical-align: middle;
}

.news a,
address a {
    color: #97455f;
}

.news a:hover,
.news a:visited,
address a:hover,
address a:visited,
.contactButton:visited,
.contactButton:hover {
    text-decoration: none !important;
    outline: none !important;
}

.contactButton:visited,
.contactButton:hover {
    color: #97455f;
}

object {
    width: 32px;
    height: 32px;
}

.title {
    height: 270px;
    background: #ebebeb;
    border-top: 1px solid #97455f;
    padding: 60px 20px;
}

.title h1 {
    font: 400 26px 'Georgia', sans-serif;
    color: #333;
    margin: 0;
    text-transform: uppercase;
    display: inline-block;
}

.title h1:first-letter {
    font-size: 36px;
}

.titleBlock {
    display: inline-block;
    font: 400 12px/15.6px 'Georgia', sans-serif;
    color: #999;
    border-left: 1px solid #999;
    padding-left: 6px;
}

.search {
    display: block;
    float: right;
}

.search input[type="text"] {
    width: 218px;
    font: 400 12px 'Georgia', sans-serif;
    color: #999;
    height: 33px;
    padding: 10px;
    border: none;
    margin: 0;
    margin-right: -4px;
    border-radius: 5px 0 0 5px;
}

.search input[type="submit"] {
    width: 75px;
    font: 400 12px 'Georgia', sans-serif;
    color: white;
    background: #97455f;
    padding: 10px;
    text-transform: uppercase;
    margin: 0;
    height: 33px;
    border: none;
    border-radius: 0 5px 5px 0;
}

.search input:focus,
.search input:active {
    outline: none !important;
    border: none !important;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    background-color: #97455f;
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    background: #6a3144;
}

.container-fluid,
.container-fluid>.navbar-header {
    margin: 0;
    padding: 0;
}

.container-fluid>.navbar-collapse {
    margin: 0;
}

.navbar>.container-fluid .navbar-brand {
    margin-left: 0;
}

.nav {
    text-transform: uppercase;
    font: 400 12px 'Georgia', sans-serif;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    background-color: #6a3144;
    color: white;
    text-transform: uppercase;
    font: 400 12px/20px 'Georgia', sans-serif;
    border-radius: 5px 0 0 0;
}

.container-fluid,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    background-color: #97455f;
}

.navbar-default {
    background: #ebebeb;
}

.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar {
    border: none;
    border-radius: 0;
}

main {
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-top: -130px;
    background: white;
}

.collapse.navbar-collapse,
.container-fluid {
    border-radius: 5px 5px 0 0;
}

#bs-example-navbar-collapse-1 .navbar-nav {
    z-index: -1;
    opacity: 0;
    transition: z-index 1s ease-out 0.5s, opacity 1s ease-out 0.5s;
}

.navbar-header:hover+#bs-example-navbar-collapse-1 .navbar-nav {
    z-index: 0;
    opacity: 1;
}

#bs-example-navbar-collapse-1 .navbar-nav:hover {
    z-index: 0;
    opacity: 1;
}

.mainInside {
    margin: 30px 63px;
    padding: 0;
    margin-bottom: 0;
}

.mainImageInside {
    display: flex;
    justify-content: center;
    position: relative;
    width: 900px;
    height: 350px;
    margin: 0 auto 80px;
    animation: slideshow 30s ease-in infinite 0s;
}

@keyframes slideshow {
    0% {
        background-image: url(../images/slideshow/nature1.jpg);
    }

    25% {
        background-image: url(../images/slideshow/nature2.jpg);
    }

    50% {
        background-image: url(../images/slideshow/nature3.jpg);
    }

    75% {
        background-image: url(../images/slideshow/nature4.jpg);
    }

    100% {
        background-image: url(../images/slideshow/nature5.jpg);
    }
}

.mainImageText {
    position: absolute;
    bottom: 28px;
    right: 5%;
    width: 60%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.6);
    color: #383838;
}

.mainImageText h1 {
    font: 400 36px 'Georgia', sans-serif;
    padding: 15px 30px;
    margin: 0;
}

.mainImageText cite {
    font: 400 16px 'Georgia', sans-serif;
    padding: 0 30px;
    display: block;
}

.articlesInside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 40px;
}

.titleBackground {
    background: #ebebeb;
    height: 5px;
    position: relative;
    display: flex;
    justify-content: center;
}

.articles h2,
.projects h2 {
    font: 400 16px 'Georgia', sans-serif;
    text-transform: uppercase;
    color: #333;
    position: absolute;
    margin: 0;
    padding: 0 5px;
    top: -6px;
    background: white;
}

.articleImage {
    float: left;
    padding-right: 10px;
    margin-left: 30px;
}

.articleImage:nth-child(3n+1) {
    margin-left: 0;
}

.articlesInside h3 {
    margin: 0;
    font: 400 16px 'Georgia', sans-serif;
    color: #97455f;
}

.articlesInside p {
    font: 400 13px/18.2px 'Georgia', sans-serif;
    color: #999;
    margin-bottom: 40px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0 20px;
}

.projectImage {
    float: left;
    margin-right: 18px;
}

.projectImage img {
    border-radius: 50%;
}

.projects .titleBackground {
    margin-bottom: 30px;
}

.projects h3 {
    font: 400 16px 'Georgia', sans-serif;
    color: #333;
    margin: 0;
}

.projects p {
    font: 400 13px/18.2px 'Georgia', sans-serif;
    color: #999;
    padding: 14px 0;
    margin: 0;
}

.projects a {
    font: 400 13px 'Georgia', sans-serif;
    color: #97455f;
}

.projects a:hover {
    text-decoration: none;
}

.quoteImage {
    float: left;
}

.quoteImage img {
    width: 53px;
    height: 44px;
}

.banner {
    background: white;
    padding: 50px 0;
}

.bannerInside {
    background-color: #97455f;
    border-radius: 5px;
    padding: 20px 30px;
}

.bannerInside h2 {
    font: 400 36px 'Georgia', sans-serif;
    color: #e5e5e5;
    margin: 0;
    float: left;
}

.bannerInside p {
    font: 400 18px 'Georgia', sans-serif;
    color: #e5e5e5;
    margin: 0;
    float: left;
    width: 60%;
}

.banner .row {
    position: relative;
}

.contactButton {
    background: white;
    border-radius: 5px;
    width: 35%;
    height: 60%;
    text-align: center;
    position: absolute;
    right: 0;
    top: 20%;
    padding: 4px;
    text-transform: uppercase;
    font: 400 26px 'Georgia', sans-serif;
    color: #97455f;
    line-height: 31.2px;
    transition-duration: 1.5s;
    box-shadow: -4px 11px 40px 0 rgba(0, 1, 1, 0.2);
}

.contactButton:hover {
    transform: scale(1.1, 1.1);
    color: white;
    background: #97455f;
    box-shadow: -4px 11px 40px 0 rgba(0, 1, 1, 0.4);
    letter-spacing: 1px;
}

.row {
    margin: 0;
}

footer .titleBackground {
    background-color: #d2d2d2;
}

.footerInside {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0 40px;
    background-color: #ebebeb;
    padding: 40px 20px;
}

.footerInside {
    font: 400 12px 'Georgia', sans-serif;
    color: #999;
    border-bottom: 1px solid #bcbcbc;
}

.footerInside h2 {
    font: 400 16px 'Georgia', sans-serif;
    color: #333333;
    margin: 0;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.footerInside h3 {
    font: 400 16px 'Georgia', sans-serif;
    color: #97455f;
}

.blogImage {
    float: left;
    background-color: #ebebeb;
    width: 103px;
    height: 103px;
    padding: 3px;
    border: 1px solid #d2d2d2;
    margin-right: 20px;
}

.footerInside p {
    margin-bottom: 40px;
    line-height: 21.6px;
}

address {
    line-height: 19.2px;
}

address a {
    font: 400 12px 'Georgia', sans-serif;
    color: #97455f;
}

address a:hover {
    color: #97455f;
}

.footerInside input[type="text"] {
    background-color: #fff;
    width: 225px;
    height: 31px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}

.footerInside input[type="submit"] {
    background-color: #97455f;
    width: 80px;
    height: 31px;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}

.footerInside textarea {
    background-color: #fff;
    width: 225px;
    height: 110px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.footerInside textarea:focus,
.footerInside input:focus {
    outline: none;
}

.copy {
    border-bottom: 1px solid white;
    padding: 20px;
    background: #ebebeb;
    border-top: 1px solid white;
    color: #999;
    font: 400 12px 'Georgia', sans-serif;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 575px) {
    .container {
        padding: 0;
    }

    .title {
        height: 130px;
        padding: 15px;
    }

    .search {
        float: none;
        margin-top: 15px;
    }

    main {
        width: 100%;
        margin-top: 0;
    }

    .mainImageInside {
        margin: 0 auto 20px;
        width: 400px;
        height: 156px;
        background-image: url(../images/slideshow/nature1.jpg);
        background-size: contain;
        animation: none;
    }

    .mainImage {
        margin: 0 auto;
    }

    .mainInside {
        margin: 10px 10px 0;
    }

    .mainImageText {
        right: 7%;
        width: 50%;
        height: 61%;
        bottom: 16px;
    }

    .mainImageText h1 {
        font-size: 20px;
        padding: 5px;
    }

    .mainImageText cite {
        font-size: 12px;
        padding: 5px;
    }

    .projects,
    .articlesInside {
        display: block;
    }

    .projects .titleBackground {
        margin: 30px 0;
    }

    .contactButton {
        padding: 0;
        width: 50%;
        height: 20%;
        float: left;
        position: unset;
        font-size: 20px;
    }

    .banner {
        padding: 10px;
    }

    .bannerInside {
        padding: 15px;
    }

    .bannerInside h2,
    .bannerInside p,
    .contactButton {
        float: none;
    }

    .bannerInside h2 {
        font-size: 26px;
    }

    .bannerInside p {
        margin: 10px 0;
        font-size: 15px;
        width: auto;
    }

    .footerInside {
        display: block;
        padding: 10px;
    }

    .footerInside h2 {
        padding: 10px 0;
        margin: 0;
        text-align: center;
    }

    .footerInside h3 {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .footerInside p {
        margin: 10px 0 15px;
    }

    address {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .mainImageInside {
        width: 300px;
        height: 117px;
    }
    .mainImageText {
        right: 6%;
        width: 80%;
        height: 82%;
        bottom: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .container {
        padding: 0;
        width: auto;
    }

    .title {
        height: 130px;
        padding: 15px;
    }

    .search {
        float: none;
        margin-top: 15px;
    }

    main {
        margin-top: 0;
        width: 100%;
    }

    .mainImageInside {
        width: 500px;
        height: 194px;
        margin: 0 auto 20px;
        animation: none;
        background-image: url(../images/slideshow/nature1.jpg);
        background-size: contain;
    }

    .mainInside {
        margin: 10px 10px 0;
    }

    .mainImageText {
        right: 5%;
        width: 65%;
        height: 50%;
    }

    .mainImageText h1 {
        font-size: 26px;
        padding: 5px;
    }

    .mainImageText cite {
        font-size: 14px;
        padding: 5px;
    }

    .nav>li>a {
        padding: 15px 5px;
    }

    .articlesInside {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 30px;
    }

    .articlesInside p {
        margin: 5px 0;
    }

    article {
        padding-bottom: 30px;
    }

    article:nth-child(5n) {
        padding-bottom: 0;
    }

    article:nth-child(6n) {
        padding-bottom: 0;
    }

    .projects {
        display: block;
    }

    .projects .titleBackground {
        margin: 20px 0;
    }

    .projectBlock:nth-child(2) {
        margin-top: 40px;
    }

    .banner {
        padding: 10px 0;
    }

    .bannerInside {
        padding: 15px;
        margin: 0 auto;
        width: 80%;
    }

    .bannerInside h2 {
        font-size: 28px;
    }

    .bannerInside p {
        margin: 10px 0;
        margin-bottom: 20px;
        font-size: 15px;
        width: 100%;
    }

    .contactButton {
        padding: 0;
        width: 50%;
        height: 20%;
        float: left;
        position: unset;
        font-size: 20px;
    }

    .footerInside {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 250px;
    }

    .footerInside h3 {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .footerInside p {
        margin-bottom: 0;
        line-height: 17px;
    }

    address {
        padding-left: 20%;
    }

    .contactUs {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .footerInside input[type="submit"],
    .footerInside h2 {
        margin: 0 auto;
    }

    .footerInside h2 {
        margin-bottom: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

}


@media (min-width: 992px) and (max-width: 1199px) {
    .mainImage img {
        width: 650px;
        height: 253px;
    }

    .mainImageInside {
        width: auto;
        margin: 0 auto 30px;
    }

    .mainImageText {
        right: 5%;
        width: 60%;
        height: 30%;
    }

    .mainImageText cite,
    .mainImageText h1 {
        padding: 10px;
    }

    .mainImageText h1 {
        font-size: 32px;
        padding-bottom: 0;
    }

    .contactButton {
        margin-top: 10px;
        width: 44%;
        height: 20%;
        float: left;
        position: unset;
        font-size: 20px;
    }

    .banner {
        padding: 20px 0;
        width: 70%;
        margin: 0 auto;
    }

    .bannerInside {
        padding: 15px;
    }

    .bannerInside h2 {
        font-size: 30px;
    }

    .bannerInside p {
        font-size: 15px;
    }
}

@media (max-width: 768px) {

    #bs-example-navbar-collapse-1 .navbar-nav {
        z-index: initial;
        opacity: initial;
        transition: none;
    }

    /*.container-fluid:not(:hover) > .collapse {
        display: none;
    }*/
}